<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name="com.thelightphone.sdk.LightSdkApplication"
        android:label="Authenticator"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name="com.thelightphone.sdk.LightActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.thelightphone.sdk.LightSdkReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="normal">
            <intent-filter>
                <action android:name="com.thelightphone.sdk.ACTION_SDK_MARKER" />
            </intent-filter>
            <meta-data
                android:name="com.thelightphone.sdk.SDK_VERSION"
                android:value="${sdkVersion}" />
        </receiver>
    </application>
    <queries>
        <intent>
            <action android:name="com.thelightphone.sdk.ACTION_SDK_MARKER" />
        </intent>
    </queries>
</manifest>
